name: CI

on:
   push:
     branches:
       - master
   pull_request:
     branches:
       - '*'

jobs:
  test-macOS:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2

    - name: Cache Dependencies
      uses: actions/cache@v1
      with:
        path: .build
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-

    - name: Run Tests on macOS
      run: swift test

  test-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: YOCKOW/Action-setup-swift@master
      with:
        swift-version: '5.1.4'

    - uses: actions/checkout@v2

    - name: Cache Dependencies
      uses: actions/cache@v1
      with:
        path: .build
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-

    - name: Run Tests on macOS
      run: swift test --generate-linuxmain


  swiftlint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Run SwiftLint Checks
      uses: norio-nomura/action-swiftlint@3.1.0
      with:
        args: --strict
