name: CI

on:
   push:
     branches:
       - master
   pull_request:
     branches:
       - '*'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Run SwiftLint Checks
      uses: norio-nomura/action-swiftlint@3.1.0
      with:
        args: --strict
