name: CI

on:
   push:
     tags:
     - '*'

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest

    runs-on: ${{ matrix.os }}
    steps:

    - uses: actions/checkout@master

    - name: Cache Swift Version
      uses: actions/cache@master
      with:
        path: .swiftenv
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-

    - uses: YOCKOW/Action-setup-swift@master
      with:
        swift-version: '5.1.4'

    - name: Cache Dependencies
      uses: actions/cache@master
      with:
        path: .build
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-

    - run: swift build -c release

    - name: Create Release
      uses: actions/create-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        body: |
          Changes in this Release
          - First Change
          - Second Change
        draft: false
        prerelease: false
