name: CI

on:
   push:
     tags:
     - '*'

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest

    runs-on: ${{ matrix.os }}
    steps:

    - name: Cache Swift Version
      id: cache-swift
      uses: actions/cache@master
      with:
        path: .swiftenv
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-

    - uses: YOCKOW/Action-setup-swift@master
      with:
        swift-version: '5.1.4'
      if: steps.cache-swift.outputs.cache-hit != 'true'

    - uses: actions/checkout@master

    - name: Cache Dependencies
      uses: actions/cache@master
      with:
        path: .build
        key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-spm-

    - run: swift build -c release
